.dialogue__message {
    display: flex;
}
.dialogue__message-text {
    display: block;
    height: 40px;
    width: max-content;
    margin-top: 2px;

    background-color: #444;
    font-size: 20px;
    border-radius: 4px;
    padding: 2px;
    color: white;
}
.order {
    justify-content: flex-end;
}
.order .dialogue__message-text{
    background-color: #777;

    text-align: right;
}
.btn_delete {
    height: 16px;
    width: 16px;
    margin-top: 3px;
    margin-right: 2px;
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.btn_delete img {
    height: 100%;
    width: 100%;
}